body {
    background: linear-gradient(to bottom, #87ceeb, #e6f7ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    overflow-y: auto;
    padding: 0 10px; /* Add padding for small screens */
}

/* Webkit Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1 {
    margin-top: 7rem;
    text-align: center;
}

.menu-dropdown {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    
}

.menu-dropdown button {
    margin: 5px;
}

#menu-btn {
    border: none;
    background-color: lightgray;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.dropdown-btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.dropdown-btns button {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
}

.timeline {
    display: flex;
    flex-direction: column;

    /* Positions the container relative to its normal position. */
    position: relative;
    width: 80%;
    margin: 50px 0;
}

.timeline::before {
    /* Adds an empty content for the pseudo-element. */
    content: '';
    position: absolute;
    top: 0;
    left: 50%;

    /* Offsets the line horizontally by 50% of its width to perfectly center it. */
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
    background: #000;
}

.container-left, .container-right {
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.container-left {
    left: 0;
    text-align: right;
}

.container-right {
    left: 50%;
    text-align: left;
}

.container-left .contents, .container-right .contents {
    border: 2px solid;
    padding: 10px;
    background: #fff;
}

/* the arrows shape and positioning */
.container-left::after, .container-right::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 20px;
    border-style: solid;
}

/* the left container arrow */
.container-left::after {
    /* Positions the arrow at the right edge of the left container. */
    left: 100%;

    /* Creates a triangular arrow by setting the left border to 10 pixels wide, and the top and bottom borders to 10 pixels high. */
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #000;
}

.container-right::after {
    /* Positions the arrow at the left edge of the right container. */
    right: 100%;

    /* Creates a triangular arrow by setting the right border to 10 pixels wide, and the top and bottom borders to 10 pixels high. */
    border-width: 10px 10px 10px 0;
    border-color: transparent #000 transparent transparent;
}

a{
    text-decoration: none;
    color: yellow;
}

a:hover{
    color: white;
}

@media(min-width: 100px) and (max-width: 560px)  {
    .menu-dropdown{
        display: inline-block;
        gap: 20px;
        position: fixed;
        left: 75%;
        top: 2em;
        background-color: transparent;
    }
    
    #menu-btn{
        position: relative;
        right: 13px;
        margin-bottom: 20px;
        border-radius: 5px;
        font-size: 15px;
        width: 100px;
    }
    
    .dropdown-btns{
        display: none;
    }
    
    .dropdown-btns button{
        display: block;
        z-index: 1;
        border-radius: 10px;
        width: auto;
        margin-bottom: 10px;
        
        /* horizontal, vertical, blur radius, spread radius */
        box-shadow: 0 10px 100px 10px rgba(0, 0, 0, 0.5);
    }
    
    #menu-btn:focus + .dropdown-btns, .dropdown-btns:hover{
        display: block;
    }
    
    @keyframes drop-down {
        from{
            transform: translateY(-100vh);
        }
    
        to{
            transform: translateY(0);
        }
    }
    
    @keyframes go-up {
        from{
            transform: translateY(100vh);
        }
    
        to{
            transform: translateY(0);
        }
    }
    
    @keyframes to-right {
        from{
            transform: translateX(-100vh);
        }
    
        to{
            transform: translateX(0);
        }
    }
    
    @keyframes to-left {
        from{
            transform: translateX(200vh);
        }
    
        to{
            transform: translateX(0);
        }
    }
    
    #about{
        position: relative;
        right: 10px;
        animation: drop-down 1s ease-in;
    }
    
    #work{
        position: relative;
        left: 5px;
        animation: to-right 1s ease-in;
    }
    
    #project{
        animation: to-left 1s ease-in;
    }
    
    #contact{
        position: relative;
        right: 3px;
        animation: go-up 1s ease-in;
    }

    .container-left, .container-right {
        position: relative;
        width: 50%;
        padding: 20px;
        box-sizing: border-box;
    }

    .last-content{
        width: auto;
    }

}