body {
    background: linear-gradient(to bottom, #87ceeb, #e6f7ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    overflow-y: auto;
}

/* Webkit Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1{
    margin-top: 7rem;
    text-align: center;
}

.menu-dropdown {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
}

.menu-dropdown button {
    margin: 5px;
}

.link-btn button img{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

#menu-btn {
    border: none;
    background-color: lightgray;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.button-container button {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
}

.work-experience{
    width: 700px;
}

.work-container {
    border: 2px solid;
    border-radius: 10px;
    margin: 20px;
    background-color: #555;
    cursor: pointer;
    text-align: left;
    width: 100%;
    padding: 10px;
    transition: background-color 0.3s;
}

.work-container:hover {
    background-color: #777;
}

#title {
    font-size: 20px;
    color: lightgoldenrodyellow;
    margin: 0 0 5px 0;
    text-align: center;
}

#dates {
    text-align: center;
    margin: 0;
    color: yellow;
}

#chopsticks-link{
    display: flex;
    justify-content: center;
}

a{
    display: flex;
    text-decoration: none;
    color: #87ceeb;
    width: 190px;
}

a:active{
    text-decoration: none;
    color: #87ceeb;
}

a:hover{
    color: azure;
    cursor: grab;
}

#instructions{
    font-size: 12px;
    color: white;
    text-align: center;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li{
    color: white;
    font-size: 20px;
}

.hidden {
    display: none;
}